.logo {
  height: 1.25rem;
  color: rgb(24 182 155 /1);
}

header {
  position: relative;
}

header>div {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open,
.close {
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

.desktop_menu {
  display: none;
}

.desktop_menu a {
  margin: 0 1.5rem;
}

.desktop_menu a:hover,
.desktop_menu a:focus {
  color: #18b69b;
}

#dropDown {
  position: absolute;
  left: 0;
  width: 100%;
  flex-direction: column;
  flex: 1 auto;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  animation: fadeIn .2s ease-in-out;
  background-color: white;
}

#dropDown a:first-child {
  padding-top: 20px;
  padding-bottom: 14px;
  width: 100%;
}

#dropDown a:not(:first-child) {
  padding: 14px 0;
  width: 100%;
}


@media screen and (min-width: 1024px) {
  header>div {
    margin: 1.9rem 5rem;

  }

  .hamburger {
    display: none;
  }

  .desktop_menu {
    display: flex;
  }

  nav#dropDown {
    display: none;
  }

}


@keyframes fadeIn {
  from {
    opacity: .89;
    transform: scale(.99);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}